// Components
@import 'modal';

.eth {
    position: relative;

    .id {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

.table td, .table th {
    vertical-align: middle;
}

.list-group-item.disabled {
    background: #ccc;
}

.form-horizontal *:last-child {
    margin-bottom: 0;
}
