// Components
@import 'modal';

.push {	
    background: rgba(183, 23, 23, 0.95);	
    padding: 20px;	
    color: white;	
    position: fixed;	
    z-index: 9999;	
    bottom: 0;	
    left: 0;	
    right: 0;	
    text-align: center;	
}

.eth {
    position: relative;

    .id {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

.table td, .table th {
    vertical-align: middle;
}

.list-group-item.disabled {
    background: #ccc;
}

.form-horizontal *:not(button):last-child {
    margin-bottom: 0 !important;
}

.sniffing {

    &.arp {
        background:#ffc107
    }

    &.lldp {
        background:#979694
    }
    
    &.tcp {
        background:rgb(109, 208, 132)
    }

    &.rip {
        background:#dc3545
    }

    &.dhcp {
        background:#67e9f1
    }

    &.udp {
        background:#84bdfb
    }
}

@keyframes progress_animate {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 